extends layout

block content
  h1 Welcome to #{title}
  if async_data != null
    each flight in async_data
      p Flight #{flight.number} is operated by #{flight.airline.name}
  else  
    p The information entered does not match any flight
